body.normal {
  background: linear-gradient(135deg, #a8a77a, #d8d8d8);
}

body.fighting {
  background: linear-gradient(135deg, #c22e28, #f08030);
}

body.flying {
  background: linear-gradient(135deg, #a98ff3, #c6e0f8);
}

body.poison {
  background: linear-gradient(135deg, #a33ea1, #d080c7);
}

body.ground {
  background: linear-gradient(135deg, #e2bf65, #dec177);
}

body.rock {
  background: linear-gradient(135deg, #b6a136, #d4c17d);
}

body.bug {
  background: linear-gradient(135deg, #a6b91a, #cbe35d);
}

body.ghost {
  background: linear-gradient(135deg, #735797, #a890f0);
}

body.steel {
  background: linear-gradient(135deg, #b7b7ce, #d8d8e7);
}

body.fire {
  background: linear-gradient(135deg, #ee8130, #f5a95b);
}

body.water {
  background: linear-gradient(135deg, #6390f0, #7ec8f7);
}

body.grass {
  background: linear-gradient(135deg, #7ac74c, #a7db8d);
}

body.electric {
  background: linear-gradient(135deg, #f7d02c, #f7e479);
}

body.psychic {
  background: linear-gradient(135deg, #f95587, #f28ab2);
}

body.ice {
  background: linear-gradient(135deg, #96d9d6, #b3ecec);
}

body.dragon {
  background: linear-gradient(135deg, #6f35fc, #9f72f0);
}

body.dark {
  background: linear-gradient(135deg, #705746, #9b7f6d);
}

body.fairy {
  background: linear-gradient(135deg, #d685ad, #f0b6d5);
}

body.stellar {
  background: linear-gradient(135deg, #37e4da, #9befff);
}

body.unknown {
  background: linear-gradient(135deg, #68a090, #a0d6c8);
}

h1{
    color: rgb(11, 11, 11);
}
button {
  background-color: #ffffff; /* color normal */
  color: rgb(5, 5, 5);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9; /* cuando paso el mouse */
}

button:active {
  background-color: #e74c3c; /* cuando lo presiono */
}